
$navbar-front-page-color: #d6d6d6;
$navbar-front-page-active-color: white;
$navbar-front-page-hover-color: white;
$navbar-front-page-toggler-border-color: red;
$navbar-front-page-toggler-icon-bg: green;
